*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
.table{
    border: 1px solid #000;
    border-collapse:collapse;
    margin: auto;
}
.hang{
    border: 1px solid #000;
    height: 40px;
}
td{
    border: 1px solid #000;
    width: 100px;
}
td:last-child{
    width: 200px;
}